.block{
    border: 2px solid black;
    /* height: 200px; */
}

.block a{
    display: block;
}

.inline{
    border: 2px solid red;

}
.inline p{
    display: inline;
}

.flex
{
    display: flex;
    border: 1px solid green;
}

.flex div{
    border: 2px solid brown;
}



.grid{
    border: 2px solid black;
    display: grid;
    grid-template-columns: auto auto auto ;
}